[submodule "minitest"]
	path = src/minitest
	url = https://github.com/Malphaet/minitest.git
[submodule "panaremote"]
	path = src/panaremote
	url = git@github.com:Malphaet/panaremote.git
[submodule "pythonAnalogWay"]
	path = src/pythonAnalogWay
	url = git@github.com:Malphaet/pythonAnalogWay.git