[submodule "src/midiRebind/pythonAnalogWay"]
	path = src/midiRebind/pythonAnalogWay
	url = git@github.com:Malphaet/pythonAnalogWay.git
[submodule "src/midiRebind/panaremote"]
	path = src/midiRebind/panaremote
	url = git@github.com:Malphaet/panaremote.git
[submodule "src/midiRebind/minitest"]
	path = src/midiRebind/minitest
	url = git@github.com:Malphaet/minitest.git
